.container {
    max-width: 1500px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: tan;
    border-radius: 30px;
    border: 5px solid brown;
}

.note-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

form button {
    width: 200px;
    margin: 10px auto;
    padding: 10px 5px;
    border-radius: 5px;
}